.table-wrapper {
  width: 100%;
  overflow-x: auto;

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;

    thead {
      tr {
        background-color: #f2f2f2;
      }

      th {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
    }

    tbody {
      tr {
        &:nth-of-type(even) {
          background-color: #f9f9f9;
        }

        &:hover {
          background-color: #f1f1f1;
        }
      }

      td {
        padding: 12px;
        border-bottom: 1px solid #ddd;
      }

      .product td {
        button {
          margin: 0;
        }
      }
    }
  }
}
